.App {
  margin: 0 auto;
  font-size: 3em;
  color: #fff;
}

.App h1 {
  text-align: center;
}

.theTable {
  min-width: 75vw;
  padding: 200px;
  padding-top: 0px;
}

th {
  border: 1px solid;
}

.userTable img {
  width: 55px;
  padding-right: 15px;
}

.toggle {
  padding-right: 25px;
  padding-left: 25px;
  cursor: pointer;
}
