.App {
  margin: 0 auto;
  font-size: 3em;
}

.App h1 {
  text-align: center;
}

.theTable {
  min-width: 75vw;
}

.userTable img {
  width: 55px;
  padding-right: 15px;
}

.toggle {
  padding-right: 45px;
  cursor: pointer;
}
